---
layout: default
---

<!-- Look the author details up _data/people.yml. -->
{% assign authors = page.authors | default: site.authors %}
{% assign byline = "" | split: ',' %}

{% for author in authors %}
  {% include author-byline.html %}
  {% assign byline = byline | push: author_byline %}
{% endfor %}

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ byline | join: ", " }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  <br>
{% endif %}
